body {
background: #999;
color: #000;
margin: 10 5;
}

img {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.content_wrapper {
	text-align: center;
	border-radius: 10px;
	width: 300px;
	height: 300px;
	background: #ffffff;
	color: #999;
	padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.theatre {
	background: #f0b236;
	display: inline-block;
	width: 40%;
	margin: 40px auto;
	text-align: center;
	border-radius: 4px;
	padding: 20px 0;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.game {
	background: #74b5ca;
	display: inline-block;
	width: 40%;
	margin: 40px auto;
	text-align: center;
	border-radius: 4px;
	padding: 20px 0;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

ol {
	list-style: none;
	margin: none;
	text-align: left;
}