body {
background: #ddd;
color: #666;
margin: 0;
padding: 0;
height: 100%;
font-size: 1.1em;
}

img {
	margin: 0;
	padding: 0;
	line-height: 0;
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* header */

.header {
	height: 70px;
	background-color: #fff;
}

.header .logo {
	display: block;
	padding: 24px 0 0 20px;
	float: left;
}

.header .menu {
	float: right;
	max-width: 20%;
	min-width: 120px;
	height: 68px;
	background: #f0b236 url(../img/headmenu_top.png) center center;
	background-size: 60px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.mainphoto {
	width: 100%;
	height: 400px;
	background: #eee url(../img/top.jpg) center center;
	background-size:cover;
	clear: both;
	border-top: 10px solid #ddd ;
	border-bottom: 10px solid #ddd ;
}

.mainphoto .banner {
	margin-top: 300px;
	max-width: 320px;  
}

.subphoto {
	width: 100%;
	height: 200px;
	background: #eee url(../img/top.jpg) center center;
	background-size:cover;
	clear: both;
	border-top: 10px solid #ddd ;
	border-bottom: 10px solid #ddd ;
}

.subphoto .banner {
	margin-top: 100px;
	max-width: 320px;
}

/* footer */

.footer {
	background: #ddd;
	text-align: center;
	height: 120px;
	padding-top: 20px;
	clear: both;
}

.footer h1 {
	font-size: 1.1em;
	margin: 0 0 6px 0;
	color: #666;
}

.footer a {
	margin: 4px;
}

/* 共通 */

.contents {
	width: 100%;
	display: table;
	text-align: center;
	background-color: #fff;
}

.contentsleft {
	width: 20%;
	min-width: 260px;
	max-width: 300px;
	color: #999;
	font-size: 0.8em;
	text-align: center;
	background-color: #eee;
	padding: 20px;
	display: table-cell;
}

.contentsleft img {
	max-width: 70%;
}

.contents .theater2nd , .game2nd  {
	width: 80%;
	padding: 20px;
	display: table-cell;
	text-align: left;
}

.contents h1 {
	clear: both;
	margin: 20px 0 4px 0;
	padding: 6px 0 6px 20px;
	font-size: 1.2em;
}

.contents .theater h1 {
	background: url(../img/icon_orange.png) left center;
	background-size: 14px 14px;
	background-repeat: no-repeat;
}

.contents .game h1 {
	background: url(../img/icon_blue.png) left center;
	background-size: 14px 14px;
	background-repeat: no-repeat;
}

.contents h2 {
	font-size: 1.1em;
}

.contents .theater2nd h2 {
	border-bottom: solid 1px #f0b236;
	color: #dc9a16;
}

.contents .game2nd h2 {
	border-bottom: solid 1px #74b5ca;
	color: #5197ae;
}

.contents iframe {
	width: 100%;
}

.contents .theater2nd a {
	border-radius: 2px;
	color: #fff;
	background-color: #f0b236;
	padding: 4px 10px;
}

.contents .game2nd a {
	border-radius: 2px;
	color: #fff;
	background-color: #74b5ca;
	padding: 4px 10px;
}

/* index */

.mainmenu  {
	margin: 20px;
}

.mainmenu a {
	width: 100%;
	padding: 20px 0;
	background: #999;
	text-align: center;
	display: block;
	border-radius: 4px;
	clear: both;
} 

.mainmenu .theater {
	width: 49%;
	float: left;
	margin-bottom: 20px;
}

.mainmenu .game {
	width: 49%;
	float: right;
	margin-bottom: 20px;
}

.mainmenu .theater  a {
	background: #f0b236;
	margin-bottom: 6px;
}

.mainmenu .game  a {
	background: #74b5ca;
	margin-bottom: 6px;
}

.bottom {
	padding: 20px;
	width: 100%;
	text-align: left;
}

.bottom img {
	max-width: 320px;
}

/* li関係 */

ul {
	clear: both;
	margin: 20px;
	text-align: left;
}

.contents li {
	list-style: none;
	min-height: 20px;
	font-weight: bold;
	border-bottom: dashed 1px;
	margin-bottom: 10px;
}

.contents li.game {
	color: #5197ae;
}

.contents li.theater {
	color: #dc9a16;
}

.contents li p {
	margin: 4px;
	padding: 0;
}

.contents li a {
	display: block;
	text-decoration: none;
	margin: 4px;
}

.contents li.game a {
	color: #5197ae;
}

.contents li.theater a {
	color: #dc9a16;
}

.contents li span {
	display: inline-block;
	border-radius: 2px;
	padding: 2px 6px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.contents li span {
	background: #999;
}

.contents li.game span {
	background: #74b5ca;
}

.contents li.theater span {
	background: #f0b236;
}