body {
	max-width: 320px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: #fff;
	color: #555;
	line-height: 1.6;
}

li {
	padding-bottom: 6px;
	margin-bottom: 10px;
	border-bottom: dotted 1px #ddd;
	text-align: left;
}

.btn,
.share-btn {
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	background-color: #32a0d3;
	background: -webkit-linear-gradient(top, #43b4e9 0%, #32a0d3 100%);
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	display: block;
}